/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
/* Button */
/* Alerts and Notifications */
/* Borders */
/* Search form */
/* BG */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 28px;
  margin: 0 0 0 1.2rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #FAFAFA;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #2196F3;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #FAFAFA;
}
@media (max-width: 390px) {
  .switch {
    width: 30px;
    height: 19px;
    margin: 0 0 0 1.2rem;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch input:checked + .slider {
    background-color: #FAFAFA;
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
    background-color: #2196F3;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
  }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #FAFAFA;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2F2F2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
}
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}
@media (max-width: 390px) {
  .slider:before {
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
  }
  .slider.round {
    border-radius: 16px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
}
/* Error: Undefined variable.
 *    ,
 * 84 |       border-bottom: 1px solid $color_border-default;
 *    |                                ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets/scss/assets/blocks/main_video-player/main_video-player-page.scss 84:32  root stylesheet */

.video-player-block aside {
  display: none;
}
@media (max-width: 576px) {
  .video-player-block aside {
    display: block;
  }
}

main.video-player-block {
  display: flex;
  padding: 9rem 7rem 5rem 8rem;
}
@media (max-width: 1200px) {
  main.video-player-block {
    padding: 9rem 4rem 5rem 4rem;
  }
}
@media (max-width: 1050px) {
  main.video-player-block {
    display: block;
  }
}
@media (max-width: 576px) {
  main.video-player-block {
    padding: 0;
  }
}
main.video-player-block .current-video {
  padding: 0 2rem 0 0;
}
main.video-player-block .current-video video {
  width: 100%;
  object-fit: cover;
  height: 700px;
  border-radius: 1.4rem;
}
main.video-player-block .current-video .current-video-title__block {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid #C2C2C2;
}
@media (max-width: 390px) {
  main.video-player-block .current-video .current-video-title__block {
    padding: 1.5rem 0 3rem 0;
  }
}
main.video-player-block .current-video .current-video-title__block .current-video-title h1 {
  font-size: 3.6rem;
  margin-bottom: 1.4rem;
}
main.video-player-block .current-video .current-video-title__block .current-video-title p {
  font-size: 2rem;
}
@media (max-width: 1400px) {
  main.video-player-block .current-video .current-video-title__block .current-video-title {
    padding: 0 0 2rem 0;
  }
}
@media (max-width: 390px) {
  main.video-player-block .current-video .current-video-title__block .current-video-title h1 {
    width: 21rem;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 0.4rem 0;
  }
  main.video-player-block .current-video .current-video-title__block .current-video-title p {
    font-size: 1.2rem;
  }
}
main.video-player-block .current-video .current-video-title__block ul {
  display: flex;
  height: 4rem;
  margin: 0;
  position: relative;
  top: 24px;
}
main.video-player-block .current-video .current-video-title__block ul li {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  margin-right: 1rem;
  padding: 1rem 2rem;
  background-color: #FAFAFA;
  border-radius: 2rem;
}
main.video-player-block .current-video .current-video-title__block ul li:last-child {
  margin: 0;
}
main.video-player-block .current-video .current-video-title__block ul li a {
  display: flex;
  color: #19202C;
}
main.video-player-block .current-video .current-video-title__block ul li a img {
  margin-right: 0.8rem;
}
main.video-player-block .current-video .current-video-title__block ul li a div {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #19202C;
  border-radius: 50%;
  margin-right: 0.5rem;
}
main.video-player-block .current-video .current-video-title__block ul li a div:last-child {
  margin: 0;
}
@media (max-width: 1400px) {
  main.video-player-block .current-video .current-video-title__block {
    display: flex;
    flex-direction: column;
  }
  main.video-player-block .current-video .current-video-title__block ul {
    padding: 0;
    position: unset;
  }
}
@media (max-width: 576px) {
  main.video-player-block .current-video .current-video-title__block ul {
    justify-content: space-between;
  }
}
main.video-player-block .current-video .current-video__description {
  padding: 4rem 0 0 0;
}
main.video-player-block .current-video .current-video__description img {
  width: 8rem;
  height: 8rem;
}
@media (max-width: 576px) {
  main.video-player-block .current-video .current-video__description img {
    width: 5rem;
    height: 5rem;
  }
}
main.video-player-block .current-video .current-video__description .subscribe-channel__btn {
  display: none;
  font-size: 2rem;
}
@media (max-width: 576px) {
  main.video-player-block .current-video .current-video__description .subscribe-channel__btn {
    display: block;
    background-color: transparent;
    border: unset;
    font-size: 2rem;
    color: #FF0000;
    margin-left: auto;
  }
}
@media (max-width: 390px) {
  main.video-player-block .current-video .current-video__description .subscribe-channel__btn {
    font-size: 1.6rem;
  }
}
main.video-player-block .current-video .current-video__description .current-video-description {
  width: 82rem;
  padding: 0 0 0 1.2rem;
}
main.video-player-block .current-video .current-video__description .current-video-description .subscribed-qty {
  display: none;
}
main.video-player-block .current-video .current-video__description .current-video-description .published-date {
  font-size: 1.3rem;
}
main.video-player-block .current-video .current-video__description .current-video-description .vide-description__text {
  line-height: 1.5;
  color: #000000;
  margin: 1.4rem 0;
}
main.video-player-block .current-video .current-video__description .current-video-description .show-more {
  font-size: 2rem;
}
@media (max-width: 576px) {
  main.video-player-block .current-video .current-video__description .current-video-description .subscribed-qty {
    display: block;
  }
  main.video-player-block .current-video .current-video__description .current-video-description .published-date {
    display: none;
  }
}
@media (max-width: 390px) {
  main.video-player-block .current-video .current-video__description .current-video-description {
    padding: 0 0 0 1rem;
  }
  main.video-player-block .current-video .current-video__description .current-video-description h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 0 0.4rem;
  }
  main.video-player-block .current-video .current-video__description .current-video-description .subscribed-qty {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
main.video-player-block .current-video .current-video__description .video-content__navigation {
  margin: 0 0 0 auto;
  padding: 0;
  align-self: start;
}
main.video-player-block .current-video .current-video__description .video-content__navigation .video-content__subscription-stat {
  margin: 0;
  position: unset;
  min-width: 15.2rem;
}
@media (max-width: 1200px) {
  main.video-player-block .current-video .current-video__description .video-content__navigation {
    display: none;
  }
}
@media (max-width: 1050px) {
  main.video-player-block .current-video .current-video__description {
    width: auto;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #C2C2C2;
    align-items: center;
  }
  main.video-player-block .current-video .current-video__description img {
    align-self: flex-start;
  }
  main.video-player-block .current-video .current-video__description .video-content__navigation {
    display: none;
  }
}
@media (max-width: 576px) {
  main.video-player-block .current-video .current-video__description {
    width: auto;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #C2C2C2;
    align-items: center;
  }
  main.video-player-block .current-video .current-video__description .current-video-description {
    width: auto;
  }
  main.video-player-block .current-video .current-video__description .current-video-description .vide-description__text {
    display: none;
  }
  main.video-player-block .current-video .current-video__description .current-video-description .show-more {
    display: none;
  }
  main.video-player-block .current-video .current-video__description .video-content__navigation {
    display: none;
  }
}
@media (max-width: 1530px) {
  main.video-player-block .current-video {
    width: calc(100% - 30rem);
  }
  main.video-player-block .current-video video {
    height: 50rem;
  }
}
@media (max-width: 1400px) {
  main.video-player-block .current-video {
    width: calc(100% - 30rem);
  }
  main.video-player-block .current-video video {
    height: 45rem;
  }
}
@media (max-width: 1200px) {
  main.video-player-block .current-video video {
    height: 40rem;
  }
}
@media (max-width: 1050px) {
  main.video-player-block .current-video {
    width: 100%;
  }
}
@media (max-width: 838px) {
  main.video-player-block .current-video {
    padding: 0;
  }
}
@media (max-width: 576px) {
  main.video-player-block .current-video {
    padding: 0;
  }
  main.video-player-block .current-video video {
    border-radius: unset;
    height: 25rem;
  }
}
@media (max-width: 576px) {
  main.video-player-block .current-video {
    padding: 6rem 0 0 0;
  }
  main.video-player-block .current-video video {
    border-radius: unset;
    height: 18rem;
  }
}
main.video-player-block .next-video__block {
  max-height: 105rem;
  overflow-y: hidden;
  width: 47.5rem;
  padding: 0 0 0 2rem;
}
@media (max-width: 1050px) {
  main.video-player-block .next-video__block {
    padding: 0;
  }
}
main.video-player-block .next-video__block .next-video__block__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2.5rem 0;
}
main.video-player-block .next-video__block .next-video__block__header h2 {
  font-size: 3.6rem;
}
main.video-player-block .next-video__block .next-video__block__header div {
  display: flex;
  align-items: center;
}
main.video-player-block .next-video__block .next-video__block__header div p {
  font-weight: 700;
  color: #19202C;
}
@media (max-width: 1530px) {
  main.video-player-block .next-video__block .next-video__block__header h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1400px) {
  main.video-player-block .next-video__block .next-video__block__header h2 {
    font-size: 2.6rem;
  }
  main.video-player-block .next-video__block .next-video__block__header div {
    display: flex;
    align-items: center;
  }
  main.video-player-block .next-video__block .next-video__block__header div p {
    display: none;
  }
}
@media (max-width: 1050px) {
  main.video-player-block .next-video__block .next-video__block__header {
    padding: 0 4rem 0 0;
  }
}
@media (max-width: 576px) {
  main.video-player-block .next-video__block .next-video__block__header {
    padding: 0;
  }
}
@media (max-width: 390px) {
  main.video-player-block .next-video__block .next-video__block__header {
    margin: 0 0 1.3rem 0;
  }
  main.video-player-block .next-video__block .next-video__block__header h2 {
    font-size: 2rem;
  }
  main.video-player-block .next-video__block .next-video__block__header div p {
    display: block;
    font-size: 1rem;
  }
}
@media (max-width: 1400px) {
  main.video-player-block .next-video__block {
    width: 37.5rem;
  }
}
@media (max-width: 1200px) {
  main.video-player-block .next-video__block {
    width: 27.5rem;
  }
}
@media (max-width: 1050px) {
  main.video-player-block .next-video__block {
    width: 100%;
  }
}
@media (max-width: 576px) {
  main.video-player-block .next-video__block {
    width: auto;
    padding: 0;
  }
}
main.video-player-block .next-video__block .next-video {
  display: inline-grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 3rem;
}
@media (max-width: 1050px) {
  main.video-player-block .next-video__block .next-video {
    width: 100%;
    grid-template-rows: unset;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    overflow: hidden;
  }
}
@media (max-width: 838px) {
  main.video-player-block .next-video__block .next-video {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    overflow: hidden;
  }
}
@media (max-width: 576px) {
  main.video-player-block .next-video__block .next-video {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1050px) {
  main.video-player-block .next-video__block .next-video .content__tab:nth-last-child(1) {
    display: none;
  }
}
@media (max-width: 838px) {
  main.video-player-block .next-video__block .next-video .content__tab:nth-last-child(2) {
    display: none;
  }
}
main.video-player-block .next-video__block .next-video .content__tab h2 {
  line-height: 1.25;
}
main.video-player-block .next-video__block .next-video .content__tab .video-content {
  width: 100%;
  height: 21rem;
  margin: 0 0 1.2rem 0;
}
main.video-player-block .next-video__block .next-video .content__tab span {
  font-size: 1.8rem;
}
main.video-player-block .next-video__block .next-video .content__tab .content-info p {
  font-size: 1.8rem;
}
main.video-player-block .next-video__block .next-video .content__tab .content-info p:after {
  content: "";
}
@media (max-width: 1530px) {
  main.video-player-block .next-video__block .next-video .content__tab h2 {
    font-size: 2.2rem;
  }
  main.video-player-block .next-video__block .next-video .content__tab .video-content {
    height: 15rem;
  }
  main.video-player-block .next-video__block .next-video .content__tab span {
    font-size: 1.6rem;
  }
  main.video-player-block .next-video__block .next-video .content__tab .content-info p {
    font-size: 1.6rem;
  }
}
@media (max-width: 576px) {
  main.video-player-block .next-video__block .next-video .content__tab {
    width: 100%;
    margin: 0 auto;
  }
  main.video-player-block .next-video__block .next-video .content__tab:nth-last-child(1), main.video-player-block .next-video__block .next-video .content__tab:nth-last-child(2) {
    display: inline-block;
  }
  main.video-player-block .next-video__block .next-video .content__tab h2 {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin: 0 0 1rem 0;
  }
  main.video-player-block .next-video__block .next-video .content__tab .video-content {
    height: auto;
  }
  main.video-player-block .next-video__block .next-video .content__tab span {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  main.video-player-block .next-video__block .next-video .content__tab .content-info p {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 390px) {
  main.video-player-block .next-video__block .next-video .content__tab {
    margin: 0 auto;
  }
  main.video-player-block .next-video__block .next-video .content__tab:nth-last-child(1), main.video-player-block .next-video__block .next-video .content__tab:nth-last-child(2) {
    display: inline-block;
  }
  main.video-player-block .next-video__block .next-video .content__tab h2 {
    font-size: 1.6rem;
    margin: 0 0 0.5rem 0;
    line-height: 1;
  }
  main.video-player-block .next-video__block .next-video .content__tab .video-content {
    height: 15rem;
  }
  main.video-player-block .next-video__block .next-video .content__tab span {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  main.video-player-block .next-video__block .next-video .content__tab .content-info p {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}

.current-video__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current-video__header .video-title__dropdown {
  display: none;
}
@media (max-width: 390px) {
  .current-video__header .video-title__dropdown {
    display: block;
  }
}

.mobile {
  margin: 0;
}
@media (max-width: 838px) {
  .mobile {
    margin: 0 1.6rem;
  }
body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 84 \2502        border-bottom: 1px solid $color_border-default;\a    \2502                                 ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets/scss/assets/blocks/main_video-player/main_video-player-page.scss 84:32  root stylesheet";
}
