@import url("https://use.typekit.net/jrb6nlz.css");
@import url("https://use.typekit.net/jrb6nlz.css");
@import url("https://use.typekit.net/jrb6nlz.css");
@import url("https://use.typekit.net/jrb6nlz.css");
.container aside {
  min-width: 25.5rem;
  height: auto;
  position: relative;
  padding: 2.9rem 0 0 0;
}
@media (max-width: 320px) {
  .container aside {
    width: 100%;
    height: 6rem;
    border-top: 1px solid #f1f1f1;
    position: absolute;
    bottom: 0;
  }
}

.content-block {
  display: flex;
}

/* Alerts and Notifications */
/* Borders */
/* Search form */
/* BG */
/* Font-colors */
/* Search-form */
/* Links */
header .container {
  height: 8.4rem;
  padding: 0 7rem 0 3.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  header .container {
    padding: 0 1.6rem;
  }
}
header .container .header__burger-menu > div {
  cursor: pointer;
  width: 2rem;
  height: 0.3rem;
  margin: 0.4rem 0;
  border-radius: 0.15rem;
  background-color: #19202C;
}
@media (max-width: 576px) {
  header .container .header__burger-menu > div {
    display: none;
  }
}
header .container .header__logo {
  line-height: 0;
  margin: 0 0 0 2.8rem;
}
@media (max-width: 576px) {
  header .container .header__logo {
    margin: 0 2.5rem 0 0;
  }
}
header .container .header__search-form {
  height: 4.4rem;
  width: 83rem;
  margin: 0 4rem 0 6rem;
  border-radius: 2.2rem;
}
@media (max-width: 768px) {
  header .container .header__search-form {
    margin: 0 4rem;
  }
}
@media (max-width: 576px) {
  header .container .header__search-form {
    width: auto;
    margin: 0 2.5rem 0 auto;
  }
}
header .container .header__search-form form {
  height: inherit;
  display: flex;
  background-color: #EBEBEB;
  border-radius: 2.2rem;
}
header .container .header__search-form form input {
  background-color: transparent;
  width: calc(100% - 5rem);
  height: inherit;
  border: none;
  border-radius: 2.2rem 0 0 2.2rem;
  padding-left: 2.3rem;
}
header .container .header__search-form form input::placeholder {
  color: #30384C;
  opacity: 0.4;
}
header .container .header__search-form form button {
  cursor: pointer;
  min-width: 5rem;
  height: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0 2.2rem 2.2rem 0;
  padding: 0;
}
@media (max-width: 576px) {
  header .container .header__search-form form {
    display: none;
    margin-left: auto;
  }
}
header .container .header__search-form .header__search-form_mobile {
  display: none;
  background-image: url("../img/header/search-form/lens.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 576px) {
  header .container .header__search-form .header__search-form_mobile {
    display: block;
    width: 4rem;
    height: 4rem;
  }
}
header .container .header__user-block {
  width: 26rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
@media (max-width: 768px) {
  header .container .header__user-block {
    width: auto;
  }
  header .container .header__user-block a:not(:last-child) {
    display: none;
  }
  header .container .header__user-block .header__user-block__user-profile {
    margin-left: auto;
  }
}
@media (max-width: 576px) {
  header .container .header__user-block {
    margin-left: 0;
  }
}
header .container .header__user-block a {
  margin-left: 2rem;
}
header .container .header__user-block a:first-child {
  margin: 0;
}
header .container .header__user-block .header__user-block__notifications {
  position: relative;
}
header .container .header__user-block .header__user-block__notifications .notification__counter {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  top: -0.5rem;
  right: -0.5rem;
  border: 1px solid #FFFFFF;
  background-color: #FF0000;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  padding: 0.25rem;
  font-weight: 800;
}
header .container .header__user-block .header__user-block__user-profile {
  display: inline-block;
  width: 4rem;
  height: auto;
}
header .container .header__user-block .header__user-block__user-profile img {
  width: 100%;
  height: auto;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
}

.subscribed-author {
  padding: 2.9rem 0 0 0;
}
.subscribed-author .subscribed-author__content {
  padding: 3rem 0 0 0;
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 4rem;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
}

.recommended .recommended__title {
  display: flex;
  justify-content: space-between;
}
.recommended .recommended__content {
  padding: 3rem 0 0 0;
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
}

.recommended__channels .recommended__channels__content {
  padding: 3rem 0 0 0;
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 4rem;
}

main {
  overflow: auto;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
}

.nav-menu {
  padding: 0 0 6rem 3.3rem;
}
@media (max-width: 320px) {
  .nav-menu {
    display: flex;
    padding: 0;
    overflow: hidden;
    height: 6rem;
  }
}
.nav-menu a {
  display: flex;
  align-items: center;
  line-height: 1;
  height: 4.8rem;
  padding: 1.4rem 0;
  width: 100%;
  color: #898989;
}
.nav-menu a:nth-child(3) {
  margin-bottom: 6rem;
}
.nav-menu a .nav-menu__link__text {
  color: inherit;
}
.nav-menu a .nav-menu__link__icon {
  height: 20px;
  width: 21px;
  margin-right: 1.3rem;
  text-align: center;
}
.nav-menu a:hover, .nav-menu a:active {
  color: #FF0000;
}
.nav-menu a:hover img, .nav-menu a:active img {
  filter: invert(100%) sepia(84%) saturate(6649%) hue-rotate(6deg) brightness(105%) contrast(117%);
}
.nav-menu a:hover div, .nav-menu a:active div {
  color: inherit;
}
@media (max-width: 320px) {
  .nav-menu a {
    flex-direction: column;
    margin: 0;
  }
  .nav-menu a:nth-child(1n+5) {
    display: none;
  }
  .nav-menu a .nav-menu__link__text {
    font-size: 1rem;
  }
  .nav-menu a .nav-menu__link__icon {
    margin: 0 0 0.5rem 0;
  }
}

.settings {
  margin-bottom: 2rem;
  padding: 0 0 0 3.3rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
}
@media (max-width: 320px) {
  .settings {
    display: none;
  }
}
.settings .settings__icon {
  margin-right: 1.2rem;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
}

.subscriptions {
  padding: 0 0 6rem 3.3rem;
}
@media (max-width: 320px) {
  .subscriptions {
    display: none;
  }
}
.subscriptions h3 {
  margin: 0 0 1.9rem 0;
}
.subscriptions .subscriptions__list .subscriptions__link {
  display: flex;
  align-items: center;
  line-height: 1;
  height: 4.8rem;
  width: 100%;
}
.subscriptions .subscriptions__list .subscriptions__link .subscriptions__link__icon img {
  width: 2.6rem;
  height: auto;
  margin-right: 1rem;
}
.subscriptions .subscriptions__list .subscriptions__link .subscriptions__link__text {
  color: #898989;
}

/*# sourceMappingURL=blocks.css.map */
