@import "subscribed-author/subscribed-author";
@import "recommended-content/recommended-content";
@import "recomended-channels";

main {
  overflow: hidden;
  padding-top: 8.4rem;
  &.channel-page {
    @media (max-width: $sm) {
      padding-top: 6rem;
    }
  }
}