@import "../../global/breakpoints/breakpoints";

.recommended__channels {

  @media (max-width: $xs) {
    display: none;
  }

  .recommended__channels__content {
    padding: 3rem 0 0 0;
    overflow: hidden;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 4rem;
  }
}

.subscriptions.recommended__channels {
  @media (max-width: $lg) {
    display: none;
  }
}