@import "../../global/breakpoints/breakpoints";


.recommended.content__section {
  padding: 0;
  @media (max-width: $md) {
    padding: 3rem 1.8rem 0;
  }
}


.recommended__channels {
  padding: 0;
  @media (max-width: $md) {
    padding: 0 1.8rem;
  }

  @media (max-width: $lg) {
    .channel__info {
      .video-content__navigation {
        .video-content__subscription-stat {
          display: none;
        }
      }
    }
  }

  @media (max-width: $xs) {
    display: none;
  }

  .recommended__channels__content {
    padding: 3rem 0 0 0;
    column-gap: 4rem;

  }
}

.subscriptions.recommended__channels {
  @media (max-width: $lg) {
    display: none;
  }
}