@import "../../global/breakpoints/breakpoints";

.container {
  aside {
    min-width: 25.5rem;
    height: auto;
    position: relative;
    padding-top: calc(1.6rem + 8.4rem);;
    background-color: white;
    z-index: 10;
    @media (max-width: $md) {
      width: 100%;
      border-top: 1px solid #f1f1f1;
      position: fixed;
      bottom: 0;
      height: 6.1rem;
      padding: 0;
    }
  }
}
