@import "../../global/breakpoints/breakpoints";
@import "../../typography/font-colors";
@import "../../typography/fonts";

.subscriptions {
  padding: 0 0 6rem 3.3rem;

  @media (max-width: $xs) {
    display: none;
  }

  h3 {
    margin: 0 0 1.9rem 0;
  }

  .subscriptions__list {
    .subscriptions__link {
      display: flex;
      align-items: center;
      line-height: 1;
      height: 4.8rem;
      width: 100%;
      .subscriptions__link__icon {
        img {
          width: 2.6rem;
          height: auto;
          margin-right: 1rem;
        }
      }
      .subscriptions__link__text {
        color: $font-color__navigation-link
      }

    }
  }

}