.container {
  width: 100%;
  margin: 0 auto;
}

.container_flex {
  display: flex;
  width: 100%
}

.content__section {
  margin: 0 0 5rem 0;
}

@import "channel_info";
@import "content_tab";
@import "video-content_navigation";