@import "../../typography/font-colors";
@import "../../colors/colors";


.video-content__navigation {
  display: flex;
  padding: 0 14rem 0 0;
  align-self: flex-end;
  align-items: end;
  .video-content__subscription-stat {
    margin: 0;
    line-height: 1.5;
    padding: 0 1rem;
    background-color: $color_notification_active;
    outline: 1rem solid $color_notification_active;
    margin-right: calc(4rem + 1rem);
    border-radius: 2rem;
    color: $font-color_in-notification;
  }
  .move-left, .move-right {
    padding: 0.8rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #c2c2c2;
    margin-right: 1rem;
  }
}