@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize
 */
/*
Document
========
*/
/*
Use 62.5% font
 */
/* 62.5%-font of 16px browser font size is 10px
   Linked through the main.scss directly
*/
@import url("https://use.typekit.net/jrb6nlz.css");
@import url("https://use.typekit.net/jrb6nlz.css");
@import url("https://use.typekit.net/jrb6nlz.css");
@import url("https://use.typekit.net/jrb6nlz.css");
@import url("https://use.typekit.net/jrb6nlz.css");
html {
  font-size: 62.5%;
}

/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default typography in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default typography in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* !End of normalizer */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
  line-height: 3.4rem;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4, h5 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0;
  line-height: 2.2rem;
}

/* Global styles */
.container {
  width: 100%;
  margin: 0 auto;
}

.container_flex {
  display: flex;
  width: 100%;
}

.content__section {
  margin: 0 0 5rem 0;
}

.channel__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.channel__info .channel__link {
  display: flex;
  align-items: center;
}
.channel__info .channel__link .channel__info-comment {
  cursor: default;
}
.channel__info .channel__link .channel__info-comment {
  margin: 0 0 0 2rem;
}
.channel__info .channel__link .channel__icon img {
  width: 5rem;
  height: auto;
  margin-right: 2rem;
}

.content__tab {
  display: inline-block;
  cursor: pointer;
}
@media (max-width: 320px) {
  .content__tab {
    width: 28.8rem;
    margin: 0 auto 3rem;
  }
}
.content__tab .video_medium {
  width: 54rem;
  height: 25rem;
}
.content__tab .video_small {
  width: 25rem;
  height: 15rem;
}
.content__tab .video-content {
  border-radius: 1.4rem;
  background-color: rgba(0, 0, 0, 0.07);
  position: relative;
}
@media (max-width: 320px) {
  .content__tab .video-content {
    width: 100%;
  }
}
.content__tab .video-content .video-time {
  width: 4.7rem;
  height: 2.4rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.4rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
.content__tab h4 {
  margin-top: 1rem;
}
.content__tab .content-info {
  display: flex;
  justify-content: space-between;
}
.content__tab .content-info span {
  padding: 0.4rem 0 0 0;
  font-size: 1.3rem;
}

.content_data {
  display: flex;
  padding: 0.4rem 0 0 0;
}
.content_data p {
  font-size: 1.3rem;
  margin: 0;
}
.content_data p:first-child::after {
  content: "･";
  margin: 0 5px;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
/* Alerts and Notifications */
/* Borders */
/* Search form */
/* BG */
.video-content__navigation {
  display: flex;
  padding: 0 14rem 0 0;
  align-self: flex-end;
  align-items: end;
  position: relative;
}
.video-content__navigation .video-content__subscription-stat {
  line-height: 1.5;
  padding: 0.5rem 2rem;
  background-color: #FF0000;
  margin: 0 4rem 0 0;
  border-radius: 2rem;
  color: #ffffff;
  position: relative;
  bottom: -0.5rem;
}
.video-content__navigation .move-left, .video-content__navigation .move-right {
  padding: 0.8rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: #c2c2c2;
  margin-right: 1rem;
}

/*/*/
/* Alerts and Notifications */
/* Borders */
/* Search form */
/* BG */
.container aside {
  min-width: 25.5rem;
  height: auto;
  position: relative;
  padding-top: 10rem;
  background-color: white;
  z-index: 10;
}
@media (max-width: 320px) {
  .container aside {
    width: 100%;
    border-top: 1px solid #f1f1f1;
    position: fixed;
    bottom: 0;
    height: 6.1rem;
    padding: 0;
  }
}

.content-block {
  display: flex;
}

/* Alerts and Notifications */
/* Borders */
/* Search form */
/* BG */
/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
header {
  z-index: 100;
  background-color: white;
  position: fixed;
  height: 8.4rem;
  width: 100%;
}
@media (max-width: 320px) {
  header {
    padding: 0 1.2rem;
    z-index: 100;
    height: inherit;
  }
}
header .container {
  height: 8.4rem;
  padding: 0 7rem 0 3.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  header .container {
    padding: 0 1.6rem;
  }
}
@media (max-width: 576px) {
  header .container {
    height: 5rem;
    width: 28.8rem;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
header .container .header__burger-menu > div {
  cursor: pointer;
  width: 2rem;
  height: 0.3rem;
  margin: 0.4rem 0;
  border-radius: 0.15rem;
  background-color: #19202C;
}
@media (max-width: 576px) {
  header .container .header__burger-menu > div {
    display: none;
  }
}
header .container .header__logo {
  line-height: 0;
  margin: 0 0 0 2.8rem;
}
@media (max-width: 576px) {
  header .container .header__logo {
    margin: 0 2.5rem 0 0;
  }
}
header .container .header__search-form {
  height: 4.4rem;
  width: 83rem;
  margin: 0 4rem 0 6rem;
  border-radius: 2.2rem;
}
@media (max-width: 768px) {
  header .container .header__search-form {
    margin: 0 4rem;
  }
}
@media (max-width: 576px) {
  header .container .header__search-form {
    width: auto;
    margin: 0 1.5rem 0 auto;
  }
}
header .container .header__search-form form {
  height: inherit;
  display: flex;
  background-color: #EBEBEB;
  border-radius: 2.2rem;
}
header .container .header__search-form form input {
  background-color: transparent;
  width: calc(100% - 5rem);
  height: inherit;
  border: none;
  border-radius: 2.2rem 0 0 2.2rem;
  padding-left: 2.3rem;
}
header .container .header__search-form form input::placeholder {
  color: #30384C;
  opacity: 0.4;
}
header .container .header__search-form form button {
  cursor: pointer;
  min-width: 5rem;
  height: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0 2.2rem 2.2rem 0;
  padding: 0;
}
@media (max-width: 576px) {
  header .container .header__search-form form {
    display: none;
    margin-left: auto;
  }
}
header .container .header__search-form .header__search-form_mobile {
  display: none;
  background-image: url("../img/header/search-form/lens.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 576px) {
  header .container .header__search-form .header__search-form_mobile {
    display: block;
    width: 4rem;
    height: 4rem;
  }
}
header .container .header__user-block {
  width: 26rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
@media (max-width: 768px) {
  header .container .header__user-block {
    width: auto;
  }
  header .container .header__user-block a:not(:last-child) {
    display: none;
  }
  header .container .header__user-block .header__user-block__user-profile {
    margin-left: auto;
  }
}
@media (max-width: 576px) {
  header .container .header__user-block {
    margin-left: 0;
  }
}
header .container .header__user-block a {
  margin-left: 2rem;
}
header .container .header__user-block a:first-child {
  margin: 0;
}
header .container .header__user-block .header__user-block__notifications {
  position: relative;
}
header .container .header__user-block .header__user-block__notifications .notification__counter {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  top: -0.5rem;
  right: -0.5rem;
  border: 1px solid #FFFFFF;
  background-color: #FF0000;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  padding: 0.25rem;
  font-weight: 800;
}
header .container .header__user-block .header__user-block__user-profile {
  display: inline-block;
  width: 4rem;
  height: auto;
}
@media (max-width: 576px) {
  header .container .header__user-block .header__user-block__user-profile {
    width: 3rem;
    height: 3rem;
  }
  header .container .header__user-block .header__user-block__user-profile img {
    width: 3rem;
    height: 3rem;
  }
}
header .container .header__user-block .header__user-block__user-profile img {
  width: 100%;
  height: auto;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
.channel__content {
  padding: 1rem 7rem 0 0;
}
.channel__content .channel__author-info .channel__cover {
  height: 28rem;
  width: 100%;
  border-radius: 1.4rem;
  background-color: #898989;
}
.channel__content .channel__author-info .channel__author__description {
  padding: 3rem 0 0 0;
  display: flex;
  height: auto;
  width: auto;
  margin: 0 0 2rem 0;
}
.channel__content .channel__author-info .channel__author__description .author-block__text {
  padding: 0 0 0 1.4rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.channel__content .channel__author-info .author-content__block .recommended__channels {
  width: 22rem;
  margin-left: auto;
}
.channel__content .channel__author-info .author-content__block .subscriptions {
  padding: 0;
}
.channel__content .channel__author-info .author-content__block .subscriptions h4 {
  margin: 1rem 0 3rem 0;
  height: 2.8rem;
  display: inline-flex;
  align-items: end;
  font-weight: normal;
  color: #C2C2C2;
}
.channel__content .channel__author-info .author-content__block .subscriptions .subscriptions__list .subscriptions__link {
  margin-bottom: 3rem;
}
.channel__content .channel__author-info .author-content__block .subscriptions .subscriptions__list .subscriptions__link .subscriptions__link__icon img {
  width: 5rem;
  height: auto;
  margin-right: 2rem;
}
.channel__content .channel__author-info .author-content__block .subscriptions .subscriptions__list .subscriptions__link .subscriptions__link__text {
  font-size: 1.8rem;
  color: #19202C;
}
.channel__content .channel__author-info .channel__navigation ul {
  display: flex;
  text-decoration: none;
  padding: 0;
}
.channel__content .channel__author-info .channel__navigation ul li {
  height: 2.8rem;
  display: inline-block;
  text-decoration: none;
  margin-right: 5.8rem;
  font-size: 0;
}
.channel__content .channel__author-info .channel__navigation ul li:last-child a {
  height: 2.7rem;
  width: 2.9rem;
}
.channel__content .channel__author-info .channel__navigation ul li:hover a {
  color: #FF0000;
  font-weight: bold;
  border-bottom: 2px solid #FF0000;
  border-radius: 2px;
}
.channel__content .channel__author-info .channel__navigation ul li:hover a svg > path {
  fill: #FF0000;
}
.channel__content .channel__author-info .channel__navigation ul li a {
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  padding: 0 0.45rem 0.45rem;
}
.channel__content .channel__author-info .channel__navigation ul li a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.channel__content .channel__author-info .author-current-video__block {
  padding: 4.4rem 0 0 0;
  width: 100%;
}
.channel__content .channel__author-info .author-current-video__block .current-video__description {
  padding: 2rem 0 1rem 3.2rem;
  max-width: 58.2rem;
}
.channel__content .channel__author-info .author-current-video__block .current-video__description h1 {
  margin-bottom: 1rem;
  max-width: 43rem;
}
.channel__content .channel__author-info .author-current-video__block .current-video__description p {
  margin-bottom: 3rem;
  line-height: 2.2rem;
  color: #666666;
}
.channel__content .channel__author-info .author-current-video__block .current-video__description .content_data p {
  margin: 0;
  font-size: 1.6rem;
}
.channel__content .channel__author-info .video-content__navigation {
  padding: 0;
  margin: 0 0 0 auto;
  align-items: center;
  align-self: flex-start;
}
.channel__content .channel__author-info .video-content__navigation .video-content__subscription-stat {
  margin: 0 0 0 2rem;
  position: unset;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
  line-height: 3.4rem;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4, h5 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0;
  line-height: 2.2rem;
}

.subscribed-author {
  padding: 2.9rem 0 0 0;
}
@media (max-width: 320px) {
  .subscribed-author .channel__info {
    display: none;
  }
}
.subscribed-author .subscribed-author__content {
  padding: 3rem 0 0 0;
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 4rem;
}
@media (max-width: 320px) {
  .subscribed-author .subscribed-author__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: none;
    margin: 0 auto;
  }
}

/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
  line-height: 3.4rem;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4, h5 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0;
  line-height: 2.2rem;
}

@media (max-width: 320px) {
  .recommended {
    display: none;
  }
}
.recommended .recommended__title {
  display: flex;
  justify-content: space-between;
}
.recommended .recommended__content {
  padding: 3rem 0 0 0;
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
}

@media (max-width: 320px) {
  .recommended__channels {
    display: none;
  }
}
.recommended__channels .recommended__channels__content {
  padding: 3rem 0 0 0;
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 4rem;
}

main {
  overflow: auto;
  padding-top: 8.4rem;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
  line-height: 3.4rem;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4, h5 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0;
  line-height: 2.2rem;
}

.nav-menu {
  padding: 0 0 6rem 3.3rem;
}
@media (max-width: 320px) {
  .nav-menu {
    display: flex;
    padding: 0;
    overflow: hidden;
    height: 6rem;
  }
}
.nav-menu a {
  display: flex;
  align-items: center;
  line-height: 1;
  height: 4.8rem;
  padding: 1.4rem 0;
  width: 100%;
  color: #898989;
}
.nav-menu a:nth-child(3) {
  margin-bottom: 6rem;
}
.nav-menu a .nav-menu__link__text {
  color: inherit;
}
.nav-menu a .nav-menu__link__icon {
  height: 20px;
  width: 21px;
  margin-right: 1.3rem;
  text-align: center;
}
.nav-menu a:hover, .nav-menu a:active {
  color: #FF0000;
}
.nav-menu a:hover img, .nav-menu a:active img {
  filter: invert(100%) sepia(84%) saturate(6649%) hue-rotate(6deg) brightness(105%) contrast(117%);
}
.nav-menu a:hover div, .nav-menu a:active div {
  color: inherit;
}
@media (max-width: 320px) {
  .nav-menu a {
    flex-direction: column;
    margin: 0;
  }
  .nav-menu a:nth-child(1n+5) {
    display: none;
  }
  .nav-menu a .nav-menu__link__text {
    font-size: 1rem;
  }
  .nav-menu a .nav-menu__link__icon {
    margin: 0 0 0.5rem 0;
  }
}

.settings {
  margin-bottom: 2rem;
  padding: 0 0 0 3.3rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
}
@media (max-width: 320px) {
  .settings {
    display: none;
  }
}
.settings .settings__icon {
  margin-right: 1.2rem;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
/* Importing font: Muli - 300 / 400 / 700 / 800
   Adobe Fonts https://fonts.adobe.com/my_fonts#web_projects-section
*/
/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
* {
  font-family: "Muli", sans-serif;
  color: #C2C2C2;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  color: #19202C;
  font-weight: 700;
  margin: 0;
  line-height: 3.4rem;
}

h1, h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4, h5 {
  font-size: 1.6rem;
}

p, a,
input::placeholder {
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0;
  line-height: 2.2rem;
}

.subscriptions {
  padding: 0 0 6rem 3.3rem;
}
@media (max-width: 320px) {
  .subscriptions {
    display: none;
  }
}
.subscriptions h3 {
  margin: 0 0 1.9rem 0;
}
.subscriptions .subscriptions__list .subscriptions__link {
  display: flex;
  align-items: center;
  line-height: 1;
  height: 4.8rem;
  width: 100%;
}
.subscriptions .subscriptions__list .subscriptions__link .subscriptions__link__icon img {
  width: 2.6rem;
  height: auto;
  margin-right: 1rem;
}
.subscriptions .subscriptions__list .subscriptions__link .subscriptions__link__text {
  color: #898989;
}

/*# sourceMappingURL=main.css.map */
