@import "../../global/breakpoints/breakpoints";
@import "../../typography/font-colors";


.author-current-video__block {
  padding: 4.4rem 0 0 0;
  width: 100%;

  @media (max-width: $xxll) {
    padding: 2.4rem 0 0 0;
    flex-direction: column;
    margin: 0;
  }

  @media (max-width: $sm) {
    display: none;
  }

  .content__tab > .video-content {
    @media (max-width: $lg) {
      margin: 0 auto;
    }
  }
  .current-video__description {
    margin: 0 3.2rem;
    padding: 2rem 0 1rem 0;
    max-width: calc(55rem + 3.2rem);

    @media (max-width: $xxll) {
      margin: 0;
      h1 {
        max-width: 54rem;
      }
    }

    @media (max-width: $lg) {
      margin: 0 auto;
      padding: 2rem 2.1rem 1rem;
    }

    h1 {
      margin-bottom: 1rem;
      max-width: 43rem;
    }
    p {
      margin-bottom: 3rem;
      line-height: 2.2rem;
      color: $font-color_main-dark;
    }
    .content_data {
      p {
        margin: 0;
        font-size: 1.6rem;
      }
    }
  }
}
