@import "../../../global/breakpoints/breakpoints";
@import "../../../typography/font-colors";
@import "../../../typography/fonts";

.recommended {

  @media (max-width: $xs) {
    display: none;
  }

  .recommended__title {
    display: flex;
    justify-content: space-between;
  }
  .recommended__content {
    padding: 3rem 0 0 0;
    column-gap: 4rem;
  }
}
