@charset "UTF-8";
.container {
  width: 100%;
  margin: 0 auto;
}

.container_flex {
  display: flex;
  width: 100%;
}

.content__section {
  margin: 0 0 5rem 0;
}
@media (max-width: 576px) {
  .content__section {
    position: relative;
    top: -9rem;
  }
}

.displayed {
  display: block;
}

.channel__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.channel__info .channel__link {
  display: flex;
  align-items: center;
}
.channel__info .channel__link .channel__info-comment {
  cursor: default;
}
.channel__info .channel__link .channel__info-comment {
  margin: 0 0 0 2rem;
}
.channel__info .channel__link .channel__icon img {
  width: 5rem;
  height: auto;
  margin-right: 2rem;
}

.content__tab {
  display: inline-block;
  cursor: pointer;
}
@media (max-width: 576px) {
  .content__tab {
    width: 35rem;
    margin: 0 auto 3rem;
  }
}
@media (max-width: 390px) {
  .content__tab {
    width: 28.8rem;
  }
}
.content__tab .video_medium {
  width: 54rem;
  height: 25rem;
}
.content__tab .video_small {
  width: 25rem;
  height: 15rem;
}
@media (max-width: 576px) {
  .content__tab .video_small {
    width: 35rem;
    height: auto;
  }
}
@media (max-width: 390px) {
  .content__tab .video_small {
    width: 28.8rem;
  }
}
.content__tab .video-content {
  border-radius: 1.4rem;
  position: relative;
}
@media (max-width: 1530px) {
  .content__tab .video-content.channel {
    width: auto;
    height: 100%;
  }
}
.content__tab .video-content video {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
@media (max-width: 320px) {
  .content__tab .video-content {
    width: 100%;
  }
}
.content__tab .video-content .video-time {
  padding: 0.25rem 0.9rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.2rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.4rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
.content__tab h4 {
  margin-top: 1rem;
  line-height: 1.5;
}
.content__tab .content-info {
  display: flex;
  justify-content: space-between;
}
.content__tab .content-info span {
  padding: 0;
  font-size: 1.3rem;
}
@media (max-width: 390px) {
  .content__tab .content-info {
    width: auto;
  }
}

.content_data {
  display: flex;
  padding: 0;
}
.content_data p {
  font-size: 1.3rem;
  margin: 0;
}
.content_data p:first-child::after {
  content: "･";
  margin: 0 5px;
}

/* Font-colors */
/* Search-form */
/* Links */
/* Borders */
/* Button */
/* Alerts and Notifications */
/* Borders */
/* Search form */
/* BG */
.video-content__navigation {
  display: flex;
  padding: 0 14rem 0 0;
  align-self: flex-end;
  align-items: end;
  position: relative;
}
.video-content__navigation img:hover {
  filter: invert(100%) sepia(84%) saturate(6649%) hue-rotate(6deg) brightness(105%) contrast(117%);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .video-content__navigation {
    padding: 0;
  }
}
.video-content__navigation .video-content__subscription-stat {
  line-height: 1.5;
  padding: 0.5rem 2rem;
  background-color: #FF0000;
  margin: 0 4rem 0 0;
  border-radius: 2rem;
  color: #ffffff;
  position: relative;
  bottom: -0.5rem;
}
@media (max-width: 576px) {
  .video-content__navigation .video-content__subscription-stat {
    font-size: 1.2rem;
  }
}
.video-content__navigation .move-left, .video-content__navigation .move-right {
  padding: 0.8rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: #c2c2c2;
  margin-right: 1rem;
}

.channel__author__description .video-content__navigation {
  display: flex;
  align-self: center;
  justify-self: end;
  padding: unset;
  margin-left: auto;
}
@media (max-width: 1530px) {
  .channel__author__description .video-content__navigation {
    padding: 0 5.2rem 0 0;
  }
}
@media (max-width: 1050px) {
  .channel__author__description .video-content__navigation {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .channel__author__description .video-content__navigation {
    margin: 2rem auto 0 0;
  }
}
.channel__author__description .video-content__navigation p {
  margin: 0;
}
.channel__author__description .video-content__navigation img {
  display: flex;
  align-self: center;
  margin: 0 2rem 0 0;
}
@media (max-width: 1050px) {
  .channel__author__description .video-content__navigation img {
    display: none;
  }
}
.channel__author__description .video-content__navigation .video-content__subscription-stat {
  position: unset;
}

/*# sourceMappingURL=blocks.css.map */
